<?xml version="1.0" encoding="UTF-8"?>
<web-app id="Elk" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>org.cip.elk.helk.resources</param-value>
    </context-param>
    <display-name>Elk</display-name>

    <servlet>
        <description>A servlet that dispatches JMF messages to an IncomingJMFDispatcher.</description>
        <display-name>Dispatching JMF servlet</display-name>
        <servlet-name>DispatchingJMFServlet</servlet-name>
        <servlet-class>org.cip4.elk.impl.jmf.servlet.DispatchingJMFServlet</servlet-class>
        <load-on-startup>20</load-on-startup>
    </servlet>
    <servlet>
        <description></description>
        <display-name>QueueServlet</display-name>
        <servlet-name>QueueServlet</servlet-name>
        <servlet-class>org.cip4.elk.helk.servlet.QueueServlet</servlet-class>
        <load-on-startup>30</load-on-startup>
    </servlet>
    <servlet>
        <description></description>
        <display-name>JobServlet</display-name>
        <servlet-name>JobServlet</servlet-name>
        <servlet-class>org.cip4.elk.helk.servlet.JobServlet</servlet-class>
        <load-on-startup>40</load-on-startup>
    </servlet>
    <servlet>
        <description></description>
        <display-name>DeviceConfigServlet</display-name>
        <servlet-name>DeviceConfigServlet</servlet-name>
        <servlet-class>org.cip4.elk.helk.servlet.DeviceConfigServlet</servlet-class>
        <load-on-startup>50</load-on-startup>
    </servlet>
    <!-- 
    <servlet>
        <description>Servlet for configuring the simulated ConventionalPrinting process.</description>
        <display-name>SimulationConfigServlet</display-name>
        <servlet-name>SimulationConfigServlet</servlet-name>
        <servlet-class>org.cip4.elk.helk.servlet.SimuServlet</servlet-class>
        <load-on-startup>50</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimulationConfigServlet</servlet-name>
        <url-pattern>/simu</url-pattern>
    </servlet-mapping>
     -->
    <servlet-mapping>
        <servlet-name>DeviceConfigServlet</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobServlet</servlet-name>
        <url-pattern>/job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueueServlet</servlet-name>
        <url-pattern>/queue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatchingJMFServlet</servlet-name>
        <url-pattern>/jmf</url-pattern>
    </servlet-mapping>
    <mime-mapping>
        <extension>jdf</extension>
        <mime-type>application/vnd.cip4-jdf+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>jmf</extension>
        <mime-type>application/vnd.cip4-jmf+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>mjd</extension>
        <mime-type>multipart/related</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>mjm</extension>
        <mime-type>multipart/related</mime-type>
    </mime-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
