<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="general" xsi:type="File" fileName="\logs\Infrastructure.Core.Tests\General.log" deleteOldFileOnStartup="true" keepFileOpen="true"
            layout="${longdate} ${level:uppercase=true} ${logger} ${newline}${message}${onexception:${newline}EXCEPTION OCCURRED\:${newline}${exception:format=tostring:maxInnerExceptionLevel=5}}${newline}"/>
    <target name="error" xsi:type="File" fileName="\logs\Infrastructure.Core.Tests\Error.log" deleteOldFileOnStartup="true" keepFileOpen="true"
            layout="${longdate} ${level:uppercase=true} ${logger} ${newline}${message}${onexception:${newline}EXCEPTION OCCURRED\:${newline}${exception:format=tostring:maxInnerExceptionLevel=5}}${newline}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Warn" writeTo="general"/>

    <logger name="*" minlevel="Error" writeTo="error"/>

  </rules>
</nlog>